<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="wishlist.css">
</head>
<body class="body">
    <nav>
        <img src="shopping-bag.svg" alt="">  <a>sell on Auction Mall</a>
    </nav>
    <div class="container">
        <div class="wishlist-card">
            <img src="ad.jpg" alt="">
            <div class="wishlist-content">
                <p>Kzn > ulundi > Senza st</p>
                <h4>R950 000</h4>
                <form action="" method="post" style="width: 40%;height: 50%;position: absolute; z-index: 5; bottom: 5%; right: 0; display: flex;align-items: center;justify-content: center;">
                    <button name="submit" value="<%= product.getId() %>" type="submit" style="width: 70%;height: 70%;background-color: rgb(28, 5, 82); cursor: pointer; border: none; border-radius: 10px; color: white;"> see more</button>
                </form>
            </div>
        </div>
        <div class="wishlist-card">
            <img src="ad.jpg" alt="">
            <div class="wishlist-content">
                <p>Kzn > ulundi > Senza st</p>
                <h4>R950 000</h4>
                <form action="" method="post" style="width: 40%;height: 50%;position: absolute; z-index: 5; bottom: 5%; right: 0; display: flex;align-items: center;justify-content: center;">
                    <button name="submit" value="<%= product.getId() %>" type="submit" style="width: 70%;height: 70%;background-color: rgb(28, 5, 82); cursor: pointer; border: none; border-radius: 10px; color: white;"> see more</button>
                </form>
            </div>
        </div>
    </div>
   
</body>
</html>