<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CreateAccount</servlet-name>
        <servlet-class>za.co.auc.servlets.CreateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>za.co.auc.servlets.LogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashBoard</servlet-name>
        <servlet-class>za.co.auc.servlets.DashBoard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PremiumServlet</servlet-name>
        <servlet-class>za.co.auc.servlets.PremiumServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellPageServlet</servlet-name>
        <servlet-class>za.co.auc.servlets.SellPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectedProduct</servlet-name>
        <servlet-class>za.co.auc.servlets.SelectedProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateAccount</servlet-name>
        <url-pattern>/CreateAccount.co.za</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/LogIn.co.za</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashBoard</servlet-name>
        <url-pattern>/DashBoard.co.za</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PremiumServlet</servlet-name>
        <url-pattern>/PremiumServlet.co.za</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellPageServlet</servlet-name>
        <url-pattern>/SellPageServlet.co.za</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectedProduct</servlet-name>
        <url-pattern>/SelectedProduct.co.za</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
