<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CreateAccount</servlet-name>
        <servlet-class>za.co.auc.servlets.CreateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>za.co.auc.servlets.LogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashBoard</servlet-name>
        <servlet-class>za.co.auc.servlets.DashBoard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PremiumServlet</servlet-name>
        <servlet-class>za.co.auc.servlets.PremiumServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellPageServlet</servlet-name>
        <servlet-class>za.co.auc.servlets.SellPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectedProduct</servlet-name>
        <servlet-class>za.co.auc.servlets.SelectedProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>za.co.auc.servlets.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessPayment</servlet-name>
        <servlet-class>za.co.auc.servlets.ProcessPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToWishlist</servlet-name>
        <servlet-class>za.co.auc.servlets.AddToWishlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditInformation</servlet-name>
        <servlet-class>za.co.auc.servlets.EditInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPassword</servlet-name>
        <servlet-class>za.co.auc.servlets.EditPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteWishlist</servlet-name>
        <servlet-class>za.co.auc.servlets.DeleteWishlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProduct</servlet-name>
        <servlet-class>za.co.auc.servlets.EditProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateAccount</servlet-name>
        <url-pattern>/CreateAccount.co.za</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/LogIn.co.za</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashBoard</servlet-name>
        <url-pattern>/DashBoard.co.za</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PremiumServlet</servlet-name>
        <url-pattern>/PremiumServlet.co.za</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellPageServlet</servlet-name>
        <url-pattern>/SellPageServlet.co.za</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectedProduct</servlet-name>
        <url-pattern>/SelectedProduct.co.za</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet.co.za</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessPayment</servlet-name>
        <url-pattern>/ProcessPayment.co.za</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToWishlist</servlet-name>
        <url-pattern>/AddToWishlist.co.za</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditInformation</servlet-name>
        <url-pattern>/EditInformation.co.za</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPassword</servlet-name>
        <url-pattern>/EditPassword.co.za</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteWishlist</servlet-name>
        <url-pattern>/DeleteWishlist.co.za</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProduct</servlet-name>
        <url-pattern>/EditProduct.co.za</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
